    .header .title {
        font-weight: 600;
        font-size: 64px;
        line-height: 72px;
        /* or 112% */

        letter-spacing: -0.03em;

        color: #1D3444;
    }

    .header-nav {

        align-items: flex-start;
        display: flex;
    }

    .header-nav ul {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        margin: 30px 47px 43px 501px;
        padding: 0;
        gap: 32px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        color: #394149;
    }

    .header-nav img {
        margin-top: 28px;
        width: 122px;
        height: 28px;
    }

    .header-nav .btn {
        background: rgba(245, 138, 7, 0.1);
        border-radius: 31px;
        margin-top: 16px;
        margin-bottom: 29px;
        color: #f58a07;
        padding: 18px 30px 17px 29px;
        font-size: 16px;
        line-height: 106.5%;
    }

    .headersection {
        background: #dceaf5;
        margin-top: px;
    
        padding: 0 16%;
    }

    .headersection-container{
        display: flex;

    }


    .header-text .title {
        font-size: 64px;
        line-height: 72px;
        color: #1d3444;

    }

    .header-text .loref {
        height: 60px;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #5B5B5B;
    }

    .header-text .idk {
        font-size: 18px;
        line-height: 30px;
        color: rgba(57, 65, 73, 0.5);
        font-weight: 400;
        margin-bottom: 27px;
    }

    .header-text .service {
        display: flex;
        align-items: center;
        margin: 32px 0 56px 0;
    }

    .header-text .btn {
        font-size: 16px;
        line-height: 17.04px;
        font-weight: 500;
        color: #fff;
        background: #f58a07;
        border-radius: 27px;
        padding: 18px 32px 19px 32px;
        bottom: 320px;

    }

    .header-text .sidebtn {
        font-size: 16px;
        line-height: 17.04px;
        color: #1d3444;
        font-weight: 500;
        margin-left: 40px;
    }

    .header-text .headerlogo {
        margin-right: 45px;
    }

    .header-img {
        display: flex;
        margin-top: 58px;
        margin-bottom: 0px;
    }

    .helpsection .text>h2 {
        font-size: 48px;
        line-height: 56px;
        font-weight: 600;
        color: #1d3444;
        letter-spacing: -0.03em;
        margin: 83px 500px 27px 0;
    }

    .helpsection .text>p {
        font-size: 18px;
        line-height: 30px;
        font-weight: 500;
        color: #5b5b5b;
        margin-right: 500px;
        margin-bottom: 63px;
    }

    .helpbox {
        display: flex;
        justify-content: space-between;
        margin-bottom: 96px;
    }

    .help {
        width: 400px;
        height: 447px;
        background: #fff;
    }

    .help .btn {
        color: #f58a07;
        font-size: 16px;
        line-height: 25.5px;
        font-weight: 500px;
        color: #5b5b5b;
    }

    .headersection{
    }

    .feature-section{
        background: #EDF7FF;
    }
    .features{
     display: flex;
     gap: 40px;



    }
    .feature{
        margin-right: 100px;
        height: 300px;
        width: 500px;
        background-color: #fff  ;
        border-radius: 20px;
    }
    .section-hm3{
        display:flex;
        height: 1000px;



    }